# Numbers

In [1]:
print(len(2))

TypeError: object of type 'int' has no len()

In [2]:
print("I would like " + 2 + " milkshakes, please.")

TypeError: can only concatenate str (not "int") to str

In [3]:
2+2

4

In [4]:
"2" + "2"

'22'

In [5]:
"2" + 2

TypeError: can only concatenate str (not "int") to str

In [6]:
anyNum = int(input())
anyNum -= 5
print(anyNum)

 78

73

In [7]:
tripleUp = 5
tripleUp *= 3
print(tripleUp)

15

In [8]:
quarterValue = 100
quarterValue /= 4
print(quarterValue)

25.0

In [9]:
# It's important to start with defining your sum as 0 to start with. 
sum = 0

num = int(input())
sum += num

num = int(input())
sum += num

num = int(input())
sum += num

print(sum)

 1
 2
 3

6

In [10]:
# divisions always retult in float numbers
# just for our convenience expecting further operations
a = 4
b = 2
c = a + b
print(c / 2)

3.0

In [12]:
print(2 ** 10)

1024

In [11]:
print(4 % 2)
print(4 % 3)

0
1

In [15]:
# the number is rounded DOWN
print(10 // 3)

3

In [14]:
# also works the same way in negative numbers
print(-11 // 3)

-4